# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage


# production
/build

# misc
.vscode
.DS_Store
.env.local
src/**/*.css
.env.development.local
.env.test.local
.env.production.local
.env.staging
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*
