language: node_js
node_js:
  - 8.3.0

cache:
  directories:
    - ~/.cache

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
<<<<<<< HEAD
- yarn
=======
- yarn install --frozen-lockfile
>>>>>>> remove-/client.env.prod

before_script:
  - NODE_ENV=test yarn run client-build
  - NODE_ENV=test yarn ci:start-app-for-test &
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

script: "yarn lint && yarn run ci:test"