language: node_js
node_js:
  - 8.3.0
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
  - export PATH="$HOME/.yarn/bin:$PATH"
script: "yarn lint && yarn run ci:test"
