version: '3'
services:
  db:
    expose:
      - "5432"
    image: postgres
  web:
    build: .
    command: rake start
    depends_on:
      - db
    ports: 
      - "3000:3000"
      - "3001:3001"
    volumes:
      - .:/circular
