service cloud.firestore {
  match /databases/{database}/documents {

  // check if user is signed in
    function signedIn() {
    	return request.auth.uid != null;
    }
    
    match /wasteProviders/{wasteProvider} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /campaigns/{campaign} {
      allow read: if true;
      allow create, update: if request.auth.uid != null;
      
      match /signatures/{signature} {
        allow read, create: if true;
      }
    }

    match /users/{userId} {
      // no one can read user data - signature user data is stored in campaigns/signatures
       allow write: if true;
       // add logic for is campaignOwner()
       allow read: if false;
    
    }
  }
}
