/* Bootstrap breakpoints */

/* xs - Phones */
@media only screen and (min-width: 480px) {
	.container {
		width: 100%;
	}
}

/* sm - Tablets */
@media only screen and (min-width: 768px) {
	.container {
		width: 100%;
	}
}

/* md - Small Laptop Screens */
@media only screen and (min-width: 992px) {
	.container {
		width: 100%;
	}
}

/* lg - Large/Desktop Screens */
@media only screen and (min-width: 1200px) {
	.container {
		width: 100%;
	}
}