$blue: orange;
$maingreen: #00C78B;
$mainwhite: #FFF;
$hovergreen: #08CC91;

$top-nav-color: #FDFFFD;
$secondary-color: #214552;
$green-color: #25C890;
$icon-row-color: #e3e3e3;

$mobile-hero-image: '../static/assets/512px_Denver_Skyline.jpg';
$desktop-hero-image: '../static/assets/1024px_Denver_Skyline.jpg';