$maingreen: #00c78b;
$mainwhite: #fff;
$hovergreen: #08cc91;
$button-white: #fff;

$dark-blue: #164c5f;
$top-nav-color: #fdfffd;
$secondary-color: #214552;
$green-color: #25c890;
$icon-row-color: #e3e3e3;
$main-blue: #176682;
$sign-out-button: #ff3838;

//comments
$light-gray: #dbdfe4;
$comment-gray: #888888;
$comment-black: #000;
$comment-box-blue: cornflowerblue;
$mobile-hero-image: '../static/assets/512px_Denver_Skyline.jpg';
$desktop-hero-image: '../static/assets/1024px_Denver_Skyline.jpg';
$step1_imgage: '../static/assets/megaphone.png';
$step2_imgage: '../static/assets/people.png';
$step3_imgage: '../static/assets/request.png';
$step4_imgage: '../static/assets/recycle.png';
$link_arrow: '../static/assets/arrow_right.png';

//BUTTONS
$twitter-blue: #1da1f2;
$facebook-blue: #3b5998;
$shadow: #262626;
