$maingreen: #00C78B;
$mainwhite: #FFF;
$hovergreen: #08CC91;

$dark-blue: #164C5F;
$top-nav-color: #FDFFFD;
$secondary-color: #214552;
$green-color: #25C890;
$icon-row-color: #e3e3e3;

$mobile-hero-image: '../static/assets/512px_Denver_Skyline.jpg';
$desktop-hero-image: '../static/assets/1024px_Denver_Skyline.jpg';
$step1_imgage: '../static/assets/megaphone.png';
$step2_imgage: '../static/assets/people.png';
$step3_imgage: '../static/assets/request.png';
$step4_imgage: '../static/assets/recycle.png';
$link_arrow: '../static/assets/arrow_right.png';