@import '../base/colors';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #0C6F91, #164C5F);
	height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.app-container {
  width: 100%;
  margin: auto;
}
