@import '../base/colors';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to bottom, #0C6F91, #164C5F);	
}

.row {
  display: flex;
  flex-direction: row;
}

.app-container {
  width: 90%;
  margin: auto;
  max-width: 1170px;
}
