@import "../base/colors";
@import "../base/fonts";

* {
  box-sizing: border-box;
}

body {
  @include open-sans-16;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #0c6f91, #164c5f);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.5;
}

h1 {
  @include display-32-med;
}

h2 {
  @include display-24-reg;
}

h3 {
  @include display-20-reg;
}

h4 {
  @include body-16-semibold-tt;
}

ul {
  padding: 0;
}

input {
  @include body-16;
}

$information-phone: "only screen and (max-width : 800px)";

.row {
  display: flex;
  flex-direction: row;
}

.app-container {
  width: 90%;
  margin: auto;
  max-width: 1170px;
  margin-bottom: 25px;

  @media #{$information-phone} {
    width: 98%;
  }
}
