@import '../base/colors';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn {
	background-color: #fff;	
	border: none;	
	color: $maingreen;	
	font-family: 'Fira Sans';
	font-weight: 700;
	font-size: 1rem;
	padding: .75rem 1.25rem;
}
