# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b9ff7d3a526f763826b5ba59f203321c1b47854831117dff6faa7961da38aee99f5bc4cef0084fba345fc2a0b4558f1c28a00a6561addd7afbe4f08b9f2df3bb
  facebook_app_id: 761977027315580
  facebook_app_secret: 6a131bdffaafc773c63a5349318fc91d

test:
  secret_key_base: 4ec9f3ca80651abdd83d59af9cdc70a0649479d0bfd32550ee6706bfc9055a2a76eca427d3d2af8eb84987720d00a5ba5225fe680a7248814c1cf01044068526
  facebook_app_id: <%= ENV["FACEBOOK_APP_ID"] %>
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  facebook_app_id: <%= ENV["FACEBOOK_APP_ID"] %>
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>
