<div>
  <div id="map" class="col-md-12"></div>
</div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">Create</div>
  <div class="col-md-3 col-sm-6 col-xs-12">Organize</div>
  <div class="col-md-3 col-sm-6 col-xs-12">Request</div>
  <div class="col-md-3 col-sm-6 col-xs-12">Recycle</div>
</div>   
<h1>Tenants</h1>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title text-center">Enter Your Apartment</h3>
      </div>

      <div class="panel-body new-link-section">


            <%= form_for @apartment do |f| %>
            <div class="input-group">
              <%= f.text_field :street_address, id: "street_address", class: "form-control", placeholder: "street address" %><span class="input-group-btn">
              <%= f.button "Submit", class: "btn btn-primary"%></span>
            </div>
            <% end %>
  </div>
</div>

<h3>All Apartments</h3>
<ul class="list-group">
<% @apartments.each do |apartment| %>
    <li class="list-group-item"><%= apartment.street_address%></li>
<% end %>
</ul>
