//Do not change the order of these imports:
@import
'base/reset',
'base/fonts',
'base/colors',
'base/breakpoints',
'base/global';

//Do not change the order of these imports:
@import
'utils/placeholders',
'utils/mixins';

//import new component stylesheets here:
@import
'components/app',
'components/navbar',
'components/HeroCTA',
'components/SearchAddress',
'components/AutoSuggestInput',
<<<<<<< HEAD
'components/modalWrapper.scss',
'components/StepByStep.scss',
'components/RecyclingInfo.scss',
'components/PropManagerLinks.scss';
=======
'components/ChooseCampaign',
'components/modalWrapper.scss';
>>>>>>> master
