@import "../base/colors";

.about-container {
  color: $mainwhite;
  padding: 20px;
}

.about-text {
  font-size: 1em;
  padding-bottom: 1em;
}

.about-link {
  text-decoration: none;
  color: $maingreen;
}

.about-link:hover {
  color: $hovergreen;
}

.about-page-header-overrides {
  border-bottom: none;
}

.about-list {
  padding-left: 25px;
  padding-right: 25px;
  list-style-position: outside;
  li {
    padding-left: 10px;
    padding-bottom: 7px;
  }
}

.numberic-list {
  list-style-type: decimal;
}

.alpha-list {
  list-style-type: lower-alpha;
}
