.address_search_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $maingreen;
	height: 100%;
	width: 350px;
	padding: 32px;
}

.address_search_header {
	text-align: center;
	color: $mainWhite;
}