.autosuggest_input_form {
	width: 100%;
	height: 100%;
	opacity: 1;
	position: relative;
}

.error-box {
	height: 30px;
	width: 100%;
	max-width: 530px;
	margin: auto;
	border-radius: 2px 2px 0 0;
	transition-property: transform;
	background-color: #BA4100;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	&.open {
		transform: translate(0, 0%);
	}
	&.closed {
		transform: translate(0, 100%);
	}
}

.error-text {
	font-family: 'Fira Sans Condensed';
}

.search_input,
.search_input:focus,
.search_input:active {
	width: 100%;
	margin: 16px;
	margin-right: 0;
	color: $secondary-color;
	padding: 0;
	background-color: #FAFAFA;
  display: inline-block;
  font-size: 16px;
	border: none;
  outline: none;
}

.input_form, 
.input_form:focus,
.input_form:active {
		position: relative;
	height: 52px;
	background-color: #FAFAFA;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  padding: 0;
  font-size: 16px;
	border: none;
  border-radius: 2px;
	border-bottom: 1px solid transparent;
  outline: none;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-radius: 2px;
	max-width: 530px;
	margin: auto;
}

.autocomplete_container {
	width: calc(100% + 52px);
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
}

.form_group {
	width: calc(100% - 104px);
	position: 'relative';
	padding-bottom: 0px;
}

.input_suggestion_item {
  padding: 10px;
	text-align: left;
	cursor: pointer;
}

.input_suggestion_item_active {
	@extend .input_suggestion_item;
	background-color: #E1F5EF;
}

.suggestion_text_bold {
	font-weight: 600;
	color: $secondary-color;
}

.search_button {
	border: none;
	position: absolute;
	border-radius: 0 2px 2px 0;
	right: 0;
	background-color: rgba($secondary-color, 0.85);
	height: 52px;
	width: 52px;
	display: inline-block;
	color: $mainwhite;

	&:hover:not(:disabled), 
	&:focus {
		cursor: pointer;
		background-color: $secondary-color;
		z-index: 100;
	}
	
	&:disabled {
		opacity: 0.75;
	}
	
}

.fa-map-marker {
	color: $secondary-color;
}

.clear_button {
	border: none;
	padding: 0;
	color: $secondary-color;
	position: absolute;
	align-self: center;
	right: 52px;
	margin: 0 2px 2px 0;
	background-color: #FAFAFA;
	height: 41px;
	width: 41px;
	display: inline-block;

		&:hover {
		cursor: pointer;
	}

	&:focus {
		z-index: 100;
	}
}

.suggestion_text_muted {
	font-weight: lighter;
	font-size: 0.75em;
	color: rgba($secondary-color, 0.85);
}