@import "../base/colors";

.row.banner-row {
  background-color: $light-blue-background;

  .banner-content {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #164c5f;

    strong {
      font-weight: 600;
    }

  }
}