@import '../base/_colors.scss';

.btn {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  background-color: #aaa;
  color: $mainwhite;
}

.btn i {
  margin-right: 10px;
}

.btn-default {
  background-image: none;
}

.btn-primary {
  background-color: $maingreen;
}
