.campaing-wrapper {
  margin: 0;
  padding: 0;

  .campaign-page-name {
    font-size: 1.5em;
    color: white;
    margin-left: 1.5rem;
  }

  .campaign-page-address {
    font-size: 1em;
    color: white;
    margin-left: 1.5rem;
    position: absolute;
  }

  .btn,
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    box-shadow: 2px 2px 1px $shadow;
  }
}

.share-campaign-row {
  border-top: 1px solid white;
  padding-top: 5px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.share-bar {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

.side-bar {
  background-color: $light-gray;
  min-height: 100vh;
}

.status-bar {
  .status h5 {
    margin-bottom: 0;
  }
  .status p {
    font-size: 80%;
  }
  .status i {
    font-size: 1.2em;
  }
  .status .status-date {
    h3 {
      font-size: 40px;
    }
    p {
      text-transform: uppercase;
    }
  }
}

.btn.btn-facebook {
  color: #fff;
  background-color: $facebook-blue;
  padding-left: 5px;
  padding-right: 5px;
  &:hover,
  :focus {
    background-color: darken($facebook-blue, 5%);
    outline: 0 !important;
    outline-color: transparent !important;
  }
  &:active {
    background-color: darken($facebook-blue, 10%);
    color: white;
    outline: 0 !important;
    outline-color: transparent !important;
  }
}

.btn.btn-twitter {
  color: #fff;
  background-color: $twitter-blue;
  padding-left: 5px;
  padding-right: 5px;
  &:hover,
  :focus {
    background-color: darken($twitter-blue, 5%);
    outline: 0 !important;
    outline-color: transparent !important;
  }
  &:active {
    background-color: darken($twitter-blue, 10%);
    color: white;
    outline: 0 !important;
    outline-color: transparent !important;
  }
}

.btn.btn-flyer {
  color: #fff;
  background-color: $maingreen;
  padding-left: 5px;
  padding-right: 5px;
  &:hover,
  :focus {
    background-color: darken($maingreen, 5%);
    outline: 0 !important;
    outline-color: transparent !important;
  }
  &:active {
    background-color: darken($maingreen, 10%);
    color: white;
    outline: 0 !important;
    outline-color: transparent !important;
  }
}

.complete {
  font-size: 1.5em;
  color: $maingreen;
}

@media (max-width: 992px) {
  .address {
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 80%;
    margin: auto;
    text-align: center;
    color: white;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: unset;
  }

  .map {
    margin: auto;
    width: 85%;
  }
  .map-wrapper {
    margin-left: 1em;
    margin-rigth: 1em;
  }

  .top:first-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }

  .share-buttons {
    max-width: 90%;
    margin: auto;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .status {
    margin-top: 1.5em;
  }

  .status-bar:not(:first-child) {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.85em;
  }

  .status-child {
    margin-top: 0.5rem;
    p,
    i,
    h3 {
      font-size: 2.5rem;
    }
  }
}
