@import '../base/colors';

.loading-spinner {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $mainwhite;
  color: transparent;
}

.slow-spin {
  animation: fa-spin 4s infinite linear;
}

.loader {
  display: block;
  text-align: center;

  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500;
  color: $mainwhite;

  &.hide {
    display: none;
  }

  h1 {
    padding: 100px;
    font-size: 2em;

    @media #{$information-phone} {
      padding: 50px;
      font-size: 1em;
    }
  }
}

.search_address_heading {
  font-size: 1.5em;
}

.bg-clear {
  background-color: rgba(0,0,0,0);
}

.border-clear {
  border: 1px solid rgba(0,0,0,0);
}

.nearby-address-item {
  color: $mainwhite;

  input {
    display: none;

    &:checked + label {
    background-color: $green-color;
    }
  }

  label {
    height:100%;
    padding: 7px 5px;
    color: $mainwhite;

    div { margin-bottom: 5px; }
    &:hover { background-color: $green-color; }
  }

  i {
    text-align: left;
  }

  .fa-check { color: $green-color }
  .fa-circle-thin:before, .fa-check:before {
    /*
     vertical-align: middle was not working no matter where I put it so I used this janky solution to stop being  blocked
    */
    position: absolute;
    top:33%;
  }
}


