@import "../base/colors";

.collapse-panel {
  .collapse-panel-toggle {
    &:hover {
      color: inherit;
    }
  }

  .collpase-panel-title {
    font-size: 20px;

    a {
      color: $mainwhite;
    }
  }

  ol {
    list-style-position: inside;
  }
}
// 242
