@import '../base/colors';

.collapse-panel {
  .collapse-panel-toggle {
    &:hover {
      color: inherit;
    }
  }

  .collpase-panel-title {
    font-size: 20px;
    a {
      color: $mainwhite;
      text-decoration: none;
    }
  }

  ol,
  ul {
    list-style-position: inside;
  }

  ul {
    list-style-type: square;
  }
}
