.comment {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 10px 0 20px;
  max-width: 95%;
  border-left: solid 2px $comment-box-blue;
  border-top: 1px solid $comment-box-blue;
  margin-top: 2em;
  border-top-left-radius: 10px;
  -webkit-box-shadow: -1px -1px -1px 0px $comment-box-blue;
  -moz-box-shadow: -1px -1px -1px 0px $comment-box-blue;
  box-shadow: -1px -1px -1px 0px $comment-box-blue;
  text-align: left;

  .comment-name {
    fontweight: 'bold';
  }

  .comment-time {
    color: $comment-gray;
    fontsize: 12px;
  }

  .comment-box {
    overflow-y: scroll;
    max-height: 200px;
  }

  // @media #{$information-phone} {
  //   padding: 8px 3px 0 6px;
  // }

  .comment-options {
    display: grid;
    grid-template-columns: 80px 1fr;

    .reply-button {
      text-align: left;
      grid-column-start: 0;
      padding: 8px 0 0 0;
      color: $maingreen;
    }
  }
  .comments-box {
    overflow-y: scroll;
    max-height: 400px;
  }

  .posted-message {
    font-family: 'Inter UI', sans-serif;
    margin: 10px 0 0 0;
    line-height: 1.3;
    white-space: pre-wrap;
    overflow-x: hidden;
    color: $comment-black;
  }
}

.comment-child {
  .comment {
    border-top: none;
    border-top-left-radius: 0;
  }
}

.child-comment-post-box {
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}
