@import '../base/_colors.scss';

.form-group {
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $mainwhite;
    @include body-16;
  }
  .form-control {
    padding: 0.5rem;
    font-size: 1rem;
    border: solid 1px #ddd;
    border-radius: 4px;
    width: 100%;
    color: $secondary-color;
    &:focus {
      box-shadow: none;
      outline: 0;
      border-color: $maingreen;
    }
  }
}
