@import "../utils/placeholders";
@import "../base/colors";

.hero-page-header {
  text-align: center;
  color: $mainwhite;

  h1 {
    font-size: 70px;
    letter-spacing: 3px;
    text-shadow: 30px 30px 30px 30px #000;
    margin: 10px 0;
  }

  h2,
  h3 {
    @include font($display_stack, 30px, 200);
    line-height: 1.2em;
    margin: 10px 0;
  }

  .font-italic {
    @include font('Dancing Script', 50px, regular);
  }

  @media #{$information-phone} {
    font-size: 32px;
  }
}
.hero-wrapper {
  position: relative;
  height: 100%;
  background-image: url($desktop-hero-image);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-attachment: fixed;

  .opacity-div {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5rem 12%;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media #{$information-phone} {
    background-image: url($mobile-hero-image);
  }

  // .tinted {
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   right: 0;
  //   background-color: rgba(0, 0, 0, 0.25);
  // }
}
.hero-search {
  padding-top: 0px;
  margin-top: -3em;

  .map-btn {
    color: $mainwhite;
    &:hover {
      color: $hovergreen;
    }
  }
}

@media screen and (max-width: 850px) {
  .hero-wrapper {
    .opacity-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 0 50px 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .hero-page-header {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 22px;
    }
  }
}