@import "../utils/placeholders";
@import "../base/colors";

.hero-page-header {
  text-align: center;
  color: $mainwhite;

  h1 {
    font-size: 70px;
    letter-spacing: 3px;
    text-shadow: 30px 30px 30px 30px #000;
    margin: 10px 0;
  }

  h2,
  h3 {
    @include font($display_stack, 30px, 200);
    line-height: 1.2em;
    margin: 10px 0;
  }

  h2 {
    @include font('Dancing Script', 50px, regular);
  }

  @media #{$information-phone} {
    font-size: 32px;
  }
}
.hero-wrapper {
  position: relative;
  background-image: url($desktop-hero-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: padding-box;

  .opacity-div {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2rem 150px;
    width: 100vw;
  }

  @media #{$information-phone} {
    background-image: url($mobile-hero-image);
  }

  .tinted {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.hero-search {
  padding-top: 0px;
  margin-top: -3em;

  .map-btn {
    color: $mainwhite;
    &:hover {
      color: $hovergreen;
    }
  }
}
