@import "../base/colors";

.info-text {
  font-size: 1em;
  padding-bottom: 1em;
  p {
    padding-bottom: 1em;
  }
}

.info-link {
  text-decoration: none;
  color: $maingreen;
}

.info-link:hover {
  color: $hovergreen;
}

.info-page-header-overrides {
  border-bottom: none;
}

.info-list {
  padding-left: 25px;
  padding-right: 25px;
  list-style-position: outside;
  li {
    padding-left: 10px;
    padding-bottom: 7px;
  }
}

.info-numeric-list {
  list-style-type: decimal;
}

.info-alpha-list {
  list-style-type: lower-alpha;
}
