.navbar-component {
  background-color: $secondary-color;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 20px;

  font-size: 2rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500;
}

.nav-bar-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar-row {
  position: relative;
  align-items: stretch;
}

.home-link {
  color: $mainwhite;
  text-decoration: none;

  &:hover {
    text-decoration:none;
    color: $green-color;
  }
}

.top-nav.navbar.navbar-default.navbar-fixed-top {
  background-color: $top-nav-color;
  opacity: 10;
  vertical-align: top;
  z-index: 10000;
}

.top-nav-list {
  display: inline-block;
  list-style: none;
  text-align: right;
  position: absolute;
  right: 0px;
}

.top-nav-list > li {
  float: left;
}

.top-nav-list > li > a {
  color: $mainwhite;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;

}

.top-nav-list > li > a:hover {
  color: $green-color;
}
