.navbar {
  background-color: $dark-blue;
  color: $mainwhite;
  border: none;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-nav li a {
    color: $mainwhite;
    &:hover {
      color: $hovergreen;
    }
  }
  .navbar-brand {
    color: $mainwhite;
    &:hover {
      color: $hovergreen;
    }
  }
  .navbar-toggle {
    border: 1px solid $mainwhite;
    &:hover {
      border: 1px solid $hovergreen;
      .icon-bar {
        background-color: $hovergreen;
      }
    }
    .icon-bar {
      background-color: $mainwhite;
    }
  }
}
