.navbar {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.home-link {
  color: $green-color;
  font-size: 2rem;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.info-icons {
  background-color: $icon-row-color;
  height: 150px;
  text-align: center;
  padding: 30px;
}

.fa {
  padding-left: 10px;
  padding-right: 10px;
}

.action-icon {
  display: inline-block;
  width: 150px;
  text-align: center;
  color: $green-color;
}

.property-manager {
  background-color: $green-color;
  color: white;
  padding: 10px;
  text-align: center;
}

.recycling-facts {
  padding: 10px;
  text-align: center;
}

.non-bold {
  font-weight: 100;
}

.top-nav.navbar.navbar-default.navbar-fixed-top {
  background-color: $top-nav-color;
  opacity: 10;
  vertical-align: top;
  z-index: 10000;
}

.top-nav-list {
  color: $green-color;
  display: inline-block;
  list-style: none;
  text-align: right;
}

.top-nav-list > li {
  color: $green-color;
  text-decoration: none;
}

.top-nav-list > li > a:hover {
  color: $secondary-color;
}
