@import '../base/colors';

.create-campaign-breadcrumbs {
  margin-top: 20px;
  height: 40px;
  text-align: center;

  .breadcrumb {
    display: inline-block;
    margin: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #14d997;
    &.active_route {
      opacity: 1;
    }
  }
}

.create-campaign-subroute-wrapper {
  padding: 32px;
  .create-campaign-control-label {
    display: inline;
  }
  .form-group {
    div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  h2 {
    margin-top: 15px;
    padding-left: 5px;
    margin-bottom: 5px;
  }
  .page-header {
    margin-top: 10px;
    border-bottom: none;
    text-align: center;
    h1 {
      display: inline;
      border-bottom: 1px solid $mainwhite;
    }
  }

  .control-label {
    font-size: 12px;
    font-weight: 300;
  }
  .next-button {
    background-color: $maingreen;
    &:hover {
      color: inherit;
    }
  }
}
