.create_campaign_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.create_campaign_breadcrumbs {
	width: 200px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.breadcrumb {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	opacity: 0.5;
	background-color: #14D997;
	&.active_route{
		opacity: 1;
	}
}