@import "../base/colors";

.create-campaign-header {
  text-align: center;
  border-bottom: none;
  text-decoration: underline;
}

.create-campaign-center {
  text-align: center;
}

.create-campaign-breadcrumbs {
  height: 40px;
  text-align: center;

  .breadcrumb {
    display: inline-block;
    margin: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #14d997;
    &.active_route {
      opacity: 1;
    }
  }
}

.create-campaign-subroute-wrapper {
  padding: 32px;
}

.create-campaign-control-label {
  display: inline;
}

.next-button {
  background-color: $maingreen;
  &:hover {
    color: inherit;
  }
}
