@import '../utils/placeholders';

.managerlinks_wrapper {
  background-color: $maingreen;
  line-height: 1.9em;
  display: table-cell;
  width: 50%;
  overflow: auto;

	@media (min-width: 651px){
  	padding: 2rem;
  }
  @media (max-width: 650px) {
    padding: 1em;
  }
  
  @media (max-width: 849px) {
    width: 100%;
    display: block;
  }
}

.managerlinks_header {
  position: relative;
  width: 100%;
  text-align: center;
  color: #FFFFFF;

}

.managerlinks_details {
  position: relative;
  width: 100%;
  padding-top: 1.5em;
  color: #FFFFFF;
  text-align: left;
}

.managerlinks_links {
  padding-top: 3em;
  width: 80%;
  margin: 0 auto;

  @media (max-width: 515px) {
    width: 100%
  }
}

.managerlink {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 90%;
  color: #FFFFFF;
  padding-top: 5px;
  height: 50px;

  @media (max-width: 425px) {
    font-size: 1.2em;
  }
  @media (max-width: 320px) {
    font-size: 1em;
  }
}

.arrowlink {
  width: 22px;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  background-size: 22px 22px;
  height: 22px;
  background-repeat: no-repeat; 
  background-position: center center;
  background-image: url($link_arrow)
}