@import "../utils/placeholders";

/*
.info_wrapper {
  background-color: #FFFFFF;
  line-height: 1.9em;
  display: table-cell;
  width: 50%;

  @media (min-width: 651px){
    padding: 1.5em;
  }
  @media (max-width: 650px) {
    padding: 1em;
  }

  @media (max-width: 849px) {
    width: 100%;
    display: block;
  }
}

.info_header {
  position: relative;
  width: 100%;
  text-align: center;
  color: $maingreen;
}

.info_details {
  position: relative;
  width: 100%;
  padding-top: 1em;
}
*/
.info_footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $maingreen;
  padding-top: 1em;
  &:hover {
    color: $mainwhite;
    text-decoration: none;
  }
}
