@import "../utils/placeholders";

.info-footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $maingreen;
  padding-top: 1em;
  &:hover {
    color: $mainwhite;
    text-decoration: none;
  }
}
