.searchAddress {

		height: 100%;
    background-color: rgba($maingreen, 0.75);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

    padding: .5rem;
}

.searchAddress-heading {
    color: $mainwhite;
		font-family: 'Fira Sans Condensed', sans-serif;
		margin: 0.5em 0;
		text-align: center;
    font-size: 2.5em;
    line-height: 1.2;
    font-weight: 600;
}
.searchAddress_sub_heading {   
		color: $mainwhite;
		font-family: 'Fira Sans Condensed', sans-serif;
		text-align: center;
		margin-bottom: 1em;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 600;
}

.searchAddress-inputGroup {
    margin-top: .5rem;
}

.searchAddress-input {
    padding: .5rem;   
    font-size: 1rem;
    width: 70%;
    border-color: #fff;
    border-style: solid;
}

.searchAddress-button {
    background-color: $maingreen;
    color: $mainwhite;
    text-decoration: none;
    padding: .5rem .75rem;   
    border: 2px solid $maingreen;
}

.searchAddress-link {
    color: $mainwhite;
		cursor: pointer;
		font-family: 'Fira Sans Condensed', sans-serif;
		font-size: 1em;
		text-decoration: underline;
    display: inline-block;
    margin: 1rem;    
    font-weight: 400;    
}