.side-wrap {
  margin-left: 1em;
  margin-right: 1em;
}

#control-label {
  margin-bottom: 0;
}

#text-form {
  min-width: 200px;
  max-width: 300px;
}

.form-title {
  color: $dark-blue;
  margin-top: 10px;
}

.sign-campaign-resets {
  padding: 0;
  margin: 0;
  h2 {
    font-size: 150%;
    color: $dark-blue;
    padding: 10px;
  }

  h4 {
    color: $dark-blue;
    margin-top: 10px;
  }

  h5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .form-group label.control-label {
    margin-bottom: 0;
    margin-top: 0;
    color: $dark-blue;
    font-size: 14px;
  }
}

.sig-head {
  background-color: white;
}

.btn.sign-petition-button {
  color: $button-white;
  background-color: $main-blue;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 2px;
  &:hover,
  :focus {
    background-color: darken($main-blue, 5%);
    outline: 0 !important;
    outline-color: transparent !important;
  }
  &:active {
    background-color: darken($main-blue, 10%);
    color: white;
    outline: 0 !important;
    outline-color: transparent !important;
  }
}
.btn.logout-button-signature {
  color: $button-white;
  background-color: $sign-out-button;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 2px;
  &:hover,
  :focus {
    background-color: darken($sign-out-button, 5%);
    outline: 0 !important;
    outline-color: transparent !important;
  }
  &:active {
    background-color: darken($sign-out-button, 10%);
    color: white;
    outline: 0 !important;
    outline-color: transparent !important;
  }
  i.fa.fa-sign-out {
    padding-left: 25px;
  }
}
.login-button-signature {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .btn-google {
    width: auto !important;
  }
  .btn-login {
    height: 50px;
  }
}

.form-resize-vertical {
  resize: vertical;
  min-height: 75px;
  max-height: 150px;
}

.sig-bar-collapse-panel {
  margin-top: 3em;
}

