h1 {
  background-color: $mainwhite;
  padding: 0.75em;
}

.toUpperCase {
  text-transform: uppercase;
  color: $background-main;
}

h2 {
  font-size: 100%;
  padding: 0.5em;
  padding-left: 0;
}

.input {
  min-width: 100%;
  box-sizing: border-box;
}

.col-10 {
  background-color: none;
  .form-group label {
    color: $background-main;
    text-algin: left;
    font-size: 12px;
    .form-control {
      display: inline;
      outline: 0;
      input {
        min-width: 100%;
        border-width: 0;
        border-radius: 3px;
        margin-bottom: 10px;
        color: $dark-gray;
        box-sizing: border-box;
        &:focus,
        &:active {
          outline: 0 !important;
          border: 1px solid $maingreen;
          box-sizing: border-box;
          width: 100%;
        }
      }
    }
  }
  .signup-camp {
    color: $background-main;
    h4 {
      color: $dark-gray;
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  &:focus,
  &:active {
    outline: 0 !important;
  }
}

.error-message {
  color: red;
}

.sign-campaign-wrapper {
  margin: 0em 0em;
  border: 0px $main-gray;
}

.signature-wrapper {
  margin: 1em 0em;
  padding: 1em;
}

GoogleButton {
  max-width: 208.75px;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: white;
  border: 1px solid #999;
  border: transparent;
  background-color: #0078e7;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover,
.pure-button:focus,
.pure-button:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9;
}

.signature-list-down,
.signature-list-up {
  position: relative;
  height: 1em;
  display: inline-block;
  margin-bottom: 0.5em;
}

.signature-list-up:after {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 5px black;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
}

.signature-list-hide {
  display: none;
}

.signature-list-down:after {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: solid 5px black;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
}
