@import "../utils/placeholders";
@import "../base/colors";

.step-container {
  display: block;
  padding-bottom: 15px;
  display: relative;

  .step-emoji-icon {
    position: absolute;
    display: inline-block;
    text-align: right;
    top: 0px;
    left: -1em;
    padding-right: 3px;
    font-size: 30px;
  }
}
