@import "../base/colors";

.steps-container {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;

  .steps-content-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;

    .single-step-content {
      display: inline-block;
      flex-shrink: 0;
      flex-grow: 1;
      width: 100%;
    }
  }

  &.vertical {
    display: flex;
    flex-direction: row;

    .steps-content-container {
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 10;
    }

    .centering-space {
      flex: 0;
    }

    @media only screen and (min-width: 700px) {
      .centering-space {
        flex: 1;
      }
    }

    .single-step-content {
      height: 100%;

      div.container,
      div.row,
      div[class^='col-'],
      div[class*=' col-'] {
        height: 100%;
      }
    }
  }

  .step-end-buttons {

    display: flex;
    align-items: center;
    margin: 3rem 0 4rem 0;

    .step-button {
      display: flex;
      flex: 1;
      color: $maingreen;
      opacity: 0.8;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $hovergreen;
        opacity: 1;
      }

      &.disabled {
        opacity: 0.3;
        cursor: default;
      }
    }

    .take-space {
      display: flex;
      flex: 100;
    }
  }

}