@import "../utils/placeholders";
@import "../base/colors";



.step-by-step-container {
  padding: 2rem 15px 1rem 15px;

  h2.home-section-title {
    padding: 0 0;
    text-align: center;
    @include display-24-med;
  }

  h3 {
    text-align: center;
    @include display-20-thin;
  }

  .col-xs-12.no-right-pad {
    padding-right: 0;
  }

  .step-icon-and-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  i.how-icon {
    font-size: 2rem;
    padding: 0 0 0.5rem 0;
  }

  p {
    text-align: center;
    margin: 0.7rem 0 1rem 0;
    opacity: 0.8;

    em {
      font-style: italic;
    }
  }

  ul {
    margin: 0.7rem 0 1rem 1.2rem;

    > li {
      opacity: 0.8;
      list-style: initial;
    }
  }

  .inner-content-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    a.more-step-details-link {
      color: $maingreen;
      opacity: 0.7;
      align-self: center;
    }

    a.more-step-details-link:hover {
      color: $hovergreen;
      opacity: 1;
    }
  }

}



@media only screen and (min-width: 480px) {
  .step-by-step-container {
    padding: 3rem 35px;
  
    .inner-content-container {
      padding: 0 1rem;
      align-items: flex-start;

      a.more-step-details-link {
        align-self: flex-end;
      }
    }

    .step-icon-and-title-container {
      // padding-bottom: 3rem;
      flex-direction: row;
    }

    .col-xs-12.no-right-pad {
      padding-right: 15px;
    }

    i.how-icon {
      font-size: 3rem;
      padding: 0 2rem 0 0;
    }

    h2.home-section-title {
      position: relative;
      left: 10%;
      // padding: 0 1rem;
      text-align: left;
      @include display-28-med;
    }

    h3 {
      text-align: left;
      @include display-24-thin;
    }

    p {
      text-align: left;
      margin: 1rem 0 1.5rem 0;
    }

    ul {
      margin: 1rem 0 1.5rem 1.2rem;
    }

  }
}


@media only screen and (min-width: 1200px) {
  .step-by-step-container {
    padding: 3rem 35px;
  
    .inner-content-container {
      padding: 0 1rem;
      align-items: flex-start;

      a.more-step-details-link {
        align-self: flex-end;
      }

      p {
        align-self: center;
        margin-right: 150px;
      }

      .step-icon-and-title-container {
        align-self: center;
        flex-direction: row;
        margin-right: 150px;
      }
    }
    
  }
}



.info-graphic-header {
  padding-left: 55px;
}

.info-graphic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: $light-blue-background;

  &:hover {
    cursor: pointer;
  }

  .box {
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    i {
      font-size: 36px;
      margin-bottom: 7.5px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
    }
  }
}


