<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content initial">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">You're the first to support recycling for your building! </h4>
      </div>
      <div class="modal-body">
        <p>Take a minute to start your building's request for recycling!</p>
        <button type="button" class="btn btn-default">Ok! Let's do this</button>
        <button type="button" class="btn btn-warning">I want to read more first</button>
      </div>
  </div>
    
  </div>
</div>
